#titulo_principal{
    background-color: #8B6F1E;
    color:white;
}

.titulo_secundario{
    background-color: #2F4F2F;
    color:white;
}

.rodape{
    text-align: center;
}

#layout{
    display: flex;
    background-color: black; /*cor de fundo do elemento HTML*/
    color: Rgb(255,255,255); /*cor do texto*/
    font-family: "Roboto", sans-serif; /*tipo de fonte*/
    font-size: 16px; /*tamanho da fonte*/
    font-style: normal;/*estilo da fonte*/
    line-height: 20px;/*espaçamento entre as linhas*/
    font-weight: 400;/*espessura do texto - entre 100 e 900 ou bold e bolder*/
    text-transform: none;/*capitalização da fonte - uppercase, lowercase, capitalize, none*/
    /*text-decoration: overline, underline, double, dashed, dotted, wavy, none*/
    word-spacing: none;/*espaçamento entre as palavras*/
    letter-spacing: 2px;/*espaçamento entre as letras*/
    text-indent: 20px;/*espaçamento de identação da primeira linha dos parágrafos*/
    text-align: justify; /*alinhamento de texto - center, left, right, justify*/

    /*border-style; Estilo da borda: solid, dashed, dotted, double, groove, inset, ridge, outset*/
    /*border-width; Espessura da borda*/
    /*border-color; Cor da borda*/
    border: dashed 5px Rgb(52, 235, 164);/*Definir estilo, espessura e cor da borda em uma mesma linha*/
    border-top: dotted 10px purple;
    border-left: dotted 20px red;
    border-bottom: solid 15px #fff000;
    /*border right: estilizar o lado direito da borda*/ 
    border-radius: 50px; /*Arredondar cantos da borda - px / %*/

    margin: 20px; /*margem do lado de FORA da borda* - margin-right, left, top, bottom*/
    padding: 20px; /*margem do lado de DENTRO da borda* - padding-right, left, top, bottom;*/
}

nav a{
    text-decoration: none;
}

#teste_estilo_ul{
    list-style-type: disc;/*Define o estilo do marcador da UL: disc, circle e none*/
}

#teste_estilo_ol{
    list-style-type: lo ;/*Define o estilo de marcadores da lista: decimal, lower roman, upper roman,
    lower greek, upper greek, lower alpha, upper alpha*/
    list-style-image: url('img/seta_direita_vermelha.png');
}

li{
    border: orange solid 3px;
    list-style-position: outside;/*Ele serve para dizer ao navegador se o marcador da lista faz
    parte ou não do seu texto: inside e outside*/
}

#impacto{
    background: url('img/senhordosaneis_fundo.jpg') no-repeat;
    /*background-image: url('img/senhordosaneis_fundo.jpg'); Carrega imagem ao fundo do elemento HTML*/
    /*background-repeat: no-repeat; Configura a forma como a imagem irá se repetirao fundo do elemento
    HTML: no-repeat, repat-y, repeat-x, repeat*/
    /*nackground-position: center; left, right, top, bottom, center
    width: 2000px;
    height: 1500px;*/
    background-size: cover;/*Serve para definir como a imagem será exibida ao fundo do elemento HTML 
    contain, cover, PX, % auto*/
    background-attachment: fixed;/*Define como a imagem vai lidar com o scroll ao fundo do elemento
    HTML: fixed, scroll*/
    text-shadow: 3px 3px 2px red;/*define a sombra do texto*/
    position: relative;
}

.noticia{
    border: solid 3px white;
    width: 200px;
    position: fixed;/*Define o posicionamento atrás ou na frente dos elementos html: fixed, relative,
    absolute e static*/
    height: 70px;
    overflow: visible;/*trata do comportamento de quando um texto passa das bordas de um elemento html:
    visible, hidden, scroll, auto;*/
    box-shadow: 3px 3px 3px 3px orange;/*Define a sombra do bloco*/
}

.um{
    background-color: blue;
    top: 0px;
    left: 50px;
    z-index: 3;/*Define a ordem de exposição dos termos*/
}

.dois{
    background-color: red;
    top: 100px;
    left: 150px;
}

.tres{
    background-color: green;
    top: 200px;
    left: 250px;
}

/*.teste_display{
    background-color: orange;
    display: inline-block;
    width: 200px;
}*/